@import "tailwindcss";

/* Svetlá téma je natvrdo */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ŽIADNY DARK MODE — IGNORUJEME HO */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* FORMULÁRE — viditeľné aj v mobile */
input,
select,
textarea {
  background-color: #ffffff !important;
  color: #111827 !important;
  border-color: #d1d5db;
  -webkit-text-fill-color: #111827 !important;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}
